<%-include('../includes/sidebar.ejs') %>
        <main>

            <div class="page-header">
                <h1>Devices</h1>
            </div>

            <div class="page-content">
                <nav class="topnav">
                        <a class="<%=path==='/devices'?'active' : ' ' %>" href="/devices" active="">Devices</a>
                        <a class="<%=path==='/devices/add-devices'?'active' : ' ' %>" href="/devices/add-devices">Add Devices</a> 
                </nav>
                
            </div>

        </main>
    </div>

    

</body>

</html>